*{
    margin: 0;
    padding: 0;
}
body{
    background: url(../bg.jpg);
    min-height: 100vh;
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}
#scorebox{
    position: absolute;
    top: 9px;;
    right: 200px;
    font-size: 39px;
    font-weight: bold;
}
#board{
    background: linear-gradient(rgb(5, 185, 5),rgb(241, 241, 195),rgb(108, 185, 108));
    width: 50vw;
    height: 85vh;
    border: 2px solid black;
    position: relative;
    right: 100px;
    display: grid;
    grid-template-columns:repeat(18,1fr) ;
    grid-template-rows:repeat(18,1fr) ;
}
.head{
    background: linear-gradient(red,yellow);
    border: 2px solid purple;
    transform: scale(1.02);
    border-radius: 12px;

}
.food{
    background: linear-gradient(red,purple);
    border: 2px solid black;
    border-radius: 8px;
}
.snake{
    background-color: rgb(4, 97, 46);
    border: 0.25vmin solid white;
    border-radius: 15px;
}